{%- if hostvars[inventory_hostname]['cluster_interface'] is defined -%}
    {%- set key = 'ansible_' + hostvars[inventory_hostname]['cluster_interface'] -%}
    {%- set cluster_host_ipv4 = hostvars[inventory_hostname][key]['ipv4'] -%}
{%- else -%}
    {%- set cluster_host_ipv4 = hostvars[inventory_hostname]['ansible_default_ipv4'] -%}
{%- endif -%}

{%- if hostvars[inventory_hostname]['web_interface'] is defined -%}
    {%- set key = 'ansible_' + hostvars[inventory_hostname]['web_interface'] -%}
    {%- set web_host_ipv4 = hostvars[inventory_hostname][key]['ipv4'] -%}
{%- else -%}
    {%- set web_host_ipv4 = hostvars[inventory_hostname]['ansible_default_ipv4'] -%}
{%- endif -%}

{%- set agent = {
    'node_name': inventory_hostname,
    'datacenter': cluster_name,
    'data_dir': consul.lib_dir,
    'log_level': consul_agent_log_level,
    'server': consul_server_enabled | bool,
    'bind_addr': cluster_host_ipv4.address,
    'client_addr': web_host_ipv4.address,
    'ports': {
        'http': consul_http_port | default(8500) | int,
        'https': consul_https_port | default(-1) | int,
        'dns': consul_dns_port | default(8600) | int,
        'serf_lan': consul_serf_lan_port | default(8301) | int,
        'serf_wan': consul_serf_wan_port | default(8302) | int,
        'server': consul_server_port | default(8300) | int
    },
    "retry_interval": consul_retry_interval | default('10s')
} -%}

{%- if consul_server_enabled -%}
    {%- if consul_agents is defined -%}
        {%- set agent = agent | combine( { 'bootstrap_expect': consul_agents | length } ) -%}
    {%- elif consul_hostgroup is defined and groups[consul_hostgroup] is defined -%}
        {%- set agent = agent | combine( { 'bootstrap_expect': groups[consul_hostgroup] | length } ) -%}
    {%- endif -%}
{% endif -%}

{%- if consul_join_hosts is defined and consul_join_hosts | length > 1 -%}
    {%- set agent = agent | combine( { 'retry_join': consul_join_hosts | reject("equalto", cluster_host_ipv4.address) | list } ) -%}
{% endif -%}

{{ agent | to_nice_json }}
